<div class="col-12 col-lg-5 col-xl-3 border-right">

    <div class="px-4 d-none d-md-block">
        <div class="d-flex align-items-center">
            <div class="flex-grow-1">
                <input type="text" class="form-control my-3" placeholder="Search...">
            </div>
        </div>
    </div>
    {% for object in object_list %}
    {% if object.user_1 == request.user %}
    <a href="{% url 'network:chat_detail' object.pk %}" class="list-group-item list-group-item-action border-0 ms-4">
        <div class="d-flex align-items-start">
            <img src="https://bootdey.com/img/Content/avatar/avatar5.png" class="rounded-circle mr-1"
                 alt="Vanessa Tucker" width="40" height="40">
            <div class="flex-grow-1 ms-2">
                {{ object.user_2 }}
                <div class="small"><span class="fas fa-circle chat-online"></span> Online</div>
            </div>
        </div>
    </a>
    {% else %}
        <a href="{% url 'network:chat_detail' object.pk %}" class="list-group-item list-group-item-action border-0 ms-4">
        <div class="d-flex align-items-start">
            <img src="https://bootdey.com/img/Content/avatar/avatar5.png" class="rounded-circle mr-1"
                 alt="Vanessa Tucker" width="40" height="40">
            <div class="flex-grow-1 ms-2">
                {{ object.user_1 }}
                <div class="small"><span class="fas fa-circle chat-online"></span> Online</div>
            </div>
        </div>
    </a>
    {% endif %}
    {% endfor %}

    <hr class="d-block d-lg-none mt-1 mb-0">
</div>