{% extends 'network/base.html' %}

{% block content %}
<section>
    <div class="container py-5">
        <div class="row">
            <div class="col-lg-4">
                <div class="card mb-4">
                    <div class="card-body text-center">
                        <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3.webp"
                             alt="avatar"
                             class="rounded-circle img-fluid" style="width: 150px;">
                        <h5 class="my-3">{{ object }}</h5>
                        <div class="d-flex justify-content-center mb-2">
                            {% if object == request.user %}
                            <button type="button" data-mdb-button-init data-mdb-ripple-init class="btn btn-primary">
                                Редактировать
                            </button>
                            {% else %}
                            {% if is_potential_friend %}
                            {% include 'includes/detail/inc_users_is_potential_friend.html' %}
                            {% elif is_friend %}
                            {% include 'includes/detail/inc_users_is_friend.html' %}
                            {% elif is_requested %}
                            {% include 'includes/detail/inc_users_is_requested.html' %}
                            {% elif is_subscriber %}
                            {% include 'includes/detail/inc_users_is_subscriber.html' %}
                            {% else %}
                            <a href="{% url 'users:create_list_friendship' object.pk %}" data-mdb-button-init
                               data-mdb-ripple-init class="btn btn-primary">Добавить в друзья</a>
                            {% endif %}
                            <a href="{% url 'network:check_or_create_chat' object.pk %}" data-mdb-button-init
                               data-mdb-ripple-init class="btn btn-outline-primary ms-1">Написать</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="card mb-4">
                    <div class="card-body">
                        {% for data in user_data %}
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">{{ data.name }}</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">{{ data.value }}</p>
                            </div>
                        </div>
                        <hr>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card" style="width: 408px; height: 190px;">
                    <div class="card-title">
                        <p class="card-text ms-3 mt-2">Друзья: {{ friend_count }}</p>
                    </div>
                    <div class="card-body mt-1">
                        {% for friend in friend_list %}
                        <div class="col-3">
                            <div class="mx-auto">
                                <a href="{% url 'users:user_detail' friend.pk  %}">
                                    <img src="https://bootdey.com/img/Content/avatar/avatar5.png"
                                         class="rounded-circle ms-3"
                                         alt="Vanessa Tucker" width="65" height="65">
                                    <p style="font-size: 12pt;">{{ friend }}</p>
                                </a>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}