{% extends 'users/base_user_list.html' %}


{% block table %}
{% for object in object_list %}
<tr class="candidates-list">
    <td class="title">
        <div class="thumb">
            <img class="img-fluid" src="https://bootdey.com/img/Content/avatar/avatar7.png"
                 alt="">
        </div>
        <div class="candidate-list-details">
            <div class="candidate-list-info">
                <div class="candidate-list-title">
                    <h5 class="mb-2"><a href="{% url 'users:user_detail' object.pk %}">{{ object }}</a></h5>
                </div>
                <div class="candidate-list-option">
                    <ul class="list-unstyled">
                        <li><a href="{% url 'network:check_or_create_chat' object.pk %}" class="fas fa-filter pr-1">Написать сообщение</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </td>
    <td class="candidate-list-favourite-time text-center">
        <form method="post" action="{% url 'friendship:accept_friendship_list' object.pk %}">
            {% csrf_token %}
            <button type="submit" class="btn btn-info btn">Добавить в друзья</button>
        </form>
    </td>
</tr>
{% endfor %}
{% endblock %}
